---
import { nav } from "../../../utils/Constants/nav";
import ExternalSvg from "../../Assets/ExternalSvg.astro";
import NavigationItem from "../../Navigation/NavigationItem.astro";

const FooterNavigationItems = nav.navitems;
---
 <footer class="footer-main container-fluid">
      <ul class="footer-nav" role="navigation">
        {
          FooterNavigationItems.map((item) => {
            const { route, "class": className, label } = item;
            return (
                <NavigationItem route={route} className={className} label={label}/>
            );
          })
        }
        <li class="accessibility-link">
          <a class="external" href=" https://www.nyu.edu/footer/accessibility.html" target="_blank">Accessibility <ExternalSvg/></a>
        </li>
        <li class="feedback-link">
          <a href="https://nyu.qualtrics.com/jfe/form/SV_8zQOuCi9g0JUVsV?site=indianocean&l=f" target="_blank">Send Feedback <ExternalSvg/></a>
        </li>
      </ul>
  </footer>
