---
export interface Props {
	id: string;
	url: string;
	label: string;
}
const { id, url, label } = Astro.props;
---

<div class={`partner-${id}`}>
	<a href={url} title={label} target="_blank">{label}</a>
</div>
