<!doctype html>
<html lang="en">
<head>{{> head }}</head>
<body data-app="{{appUrl}}" data-viewer="{{viewer}}" data-appRoot="{{appRoot}}" data-discoUrl="{{discoUrl}}" class="{{bodyClass}}">
  {{> header }}
  <iframe 
    role="main"
    title="Book Viewer" 
    class="widget book" 
    id="book" 
    name="book" 
    data-name="book" 
    data-sourceUrl="{{viewer}}" 
    data-script='{ "js" : [ "crossframe.min.js", "book.min.js" ] }' 
    allowfullscreen mozallowfullscreen webkitallowfullscreen>
  </iframe>
  {{> loading }}
  {{{ closure }}}
</body>
</html>