---
import { metatags } from "../../utils/Constants/metatags";
import { nav } from "../../utils/Constants/nav";
import NavigationItem from "../Navigation/NavigationItem.astro";
import NavigationMobileMenu from "../Navigation/NavigationMobileMenu.astro";
import SearchForm from "../Search/SearchTools/SearchForm";

const siteName = metatags.siteName;

const HeaderNavigationItems = nav.navitems;


---
<Fragment>
  <div class="header-wrapper">
    <header class="header-main container-fluid" role="banner">
      <h1 class="sitename"><a href="/">{siteName}</a></h1>
    </header>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <NavigationMobileMenu/>
      </div>
      <div class="navbar-collapse" >
        <ul class="nav navbar-nav">
          {
            HeaderNavigationItems.map(item => { return (
              <NavigationItem
                route={item.route}
                className={item.class}
                label={item.label}
              />
            ); })
          }
        </ul>
        <div class="search_holder widget navbar-form navbar-right">
          <SearchForm client:only />
        </div>
      </div>
    </div>
  </nav>
</Fragment>
