---
import FooterNavigation from './FooterNavigation/FooterNavigation.astro';
import FooterPartners from './FooterPartners/FooterPartners.astro';
---

<div class='footer-wrapper'>
	<div class='footer-wrapper-top'>
		<FooterNavigation />
	</div>
	<FooterPartners />
</div>
