---
import "../assets/scss/globals.scss";
import Header from "../components/Header/Header.astro";
import Meta from "../components/Header/Meta.astro";
import { metatags } from "../utils/Constants/metatags";

const { title } = Astro.props;
const description = metatags.poweredDesc;
---

<html lang="en" dir="ltr">
	<Meta title={title} description={description} />
	<body class="book">
		<Header />
		<slot />
	</body></html
>
