---
import '../assets/scss/globals.scss';
import Footer from '../components/Footer/Footer.astro';
import Meta from '../components/Header/Meta.astro';
import { metatags } from '../utils/Constants/metatags';
import Header from '../components/Header/Header.astro';

const title = metatags.searchTitle;
const description = metatags.poweredDesc;
---

<html lang="en" dir="ltr">
	<head>
		<Meta title={title} description={description} />
	</head>
	<body class="search">
		<Header />
		<main class="main container-fluid" role="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
